/* ini file css */

/* Mengubah font*/
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
}

/* Memperbaiki tampilan sesuai mockup */
main {
    background-color: lightgray;
    width: 750px;
    border: 5px solid black;
    border-radius: 50px;
    justify-self: center;
    padding: 10px;
    font-size: 30px;
}

/* Merapikan inputan */
.grup-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.grup-input input {
    height: 50px;
    padding: 10px;
    font-size: 30px;
    border: 5px solid black;
}

.grup-tombol {
    padding: 10px;
}

.grup-tombol button {
    font-size: 30px;
}

/* Memperbaiki garis pemisah */
hr {
    border: 1px solid black;
    width: 600px;
}

/* Menengahkan judul dari penjelasan cara konversi */
.penjelasan h2 {
    text-align: center;
}

/* Simbol - simbol pada penjelasan */
.penjelasan .simbol {
    font-size: 40px;
    font-style: italic;
}

.penjelasan .angka {
    font-size: 40px;
}

.rumus p {
    font-size: 40px;
}