/* ini file css */

/* Mengubah font*/
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #222831;
    color: #EEEEEE;
}

header {
    text-align: center;
}

/* Memperbaiki tampilan sesuai mockup */
main {
    background-color: #393E46;
    width: 750px;
    border: 5px solid #00ADB5;
    border-radius: 50px;
    justify-self: center;
    padding: 10px;
    font-size: 30px;
}

/* Merapikan inputan */
.grup-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.grup-input input {
    height: 50px;
    padding: 10px;
    font-size: 30px;
    border: 5px solid #00ADB5;
}

.grup-tombol {
    padding: 10px;
    text-align: center;
}

/* bagian grup tombol */
.grup-tombol button {
    font-size: 30px;
    background-color: #00ADB5;
    color: #EEEEEE;
    padding: 10px;
    border: 10px solid #222831;
}

.grup-tombol button:hover {
    cursor: pointer;
    background-color: #00acb550;
}

.grup-tombol button:active {
    background-color: #393E46;
}

/* Memperbaiki garis pemisah */
hr {
    border: 1px solid #00ADB5;
    width: 600px;
}

/* Menengahkan judul dari penjelasan cara konversi */
.penjelasan h2 {
    text-align: center;
}

/* Simbol - simbol pada penjelasan */
.penjelasan .simbol {
    font-size: 40px;
    font-style: italic;
}

.penjelasan .angka {
    font-size: 40px;
}

.rumus p {
    font-size: 40px;
}